.center{
    margin:auto;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
img{
    max-width: 100px;
    width: auto;
    clip-path: ellipse(50% 33%);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
header{
    background-color: #782221;
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
}
section{
    width: 1160px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
div{
    background-color: #782221;
}
#info{
    flex-basis: 386.6px;
    height: 90px;
    margin-top: 0px;
    background-color: #2c1d27;
    color: white;
    text-align: center;
}
#gauche{
    flex-basis: 25%;
    height: auto;
    margin-top:auto;
}
#droite{
    flex-basis: 75%;
    height: auto;
    background-color: white;
    margin-top:auto;

}